/* .background {
    background-color: #55B5CF;
    width: 100%;
    height: 100%;
    position: absolute;
} */

.background {
    background: linear-gradient(45deg, #55B5CF, #e52e71, #ff6a00);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.card-custom {
	border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 20px;
}

.card-custom-questionnaire {
	border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    align-items: center;
    transition: all 0.5s;
}

.card-custom-questionnaire:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
	border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
    align-items: center;
}

.card-body-home {
    padding: 0rem !important;
}

.card-game {
	border-radius: 20px;
    margin: 20px;
    transition: all 0.5s;
}

.card-game:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

h2 {
    color: white;
}

.logo {
    max-width: 60%;
    height: auto;
    align-items: center;
}

.btn-custom {
    background-color: #7721da;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color: #f5a511;
    color: white;
}

.img-opt {
    max-width: 12.5rem;
    height: auto;
    align-items: center;

}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-question {
    max-width: 80%;
    height: auto;
    align-items: center;
}

/* Modal */
.modal-content {
    border-radius: 20px;
}

.btn-option {
    background-color: #f5a511;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 16px;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    max-width: 80%;
}

.btn-option:hover {
    background-color: #e52e71;
    color: white;
    border-radius: 20px;
    text-align: left;
    font-size: 16px;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
    max-width: 80%;
}

.btn-option.active {
    background-color: #e52e71; 
    color: #fff; 
    border-color: #e52e71; 
}

.btn-outline-info {
    border-radius: 20px !important;
    margin: 0 auto;
    text-align: left;
}

.modal-content {
    padding: 2rem;
}

.btn-link {
    color: black;
    text-decoration: none;

}

h4, h3, h2, h1 {
    color: white;
}


.label {
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
    top: 50%; /* Posiciona o texto no centro verticalmente */
    left: 50%; /* Posiciona o texto no centro horizontalmente */
    line-height: 1.5;
    font-size: 16px;
    transform-origin: center center;
}

.card-title {
    color: #e52e71;
    font-size: 1.5rem;
}